@font-face {
    font-family: 'waltographUI';
    src: url('/src/fonts/waltographUI.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'waltograph42';
    src: url('/src/fonts/waltograph42.otf');
    font-weight: normal;
}

body {
  margin: 0;
  background-color: rgb(4, 7, 20);
}
